/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/

.portrait{
    max-width:auto;
    max-height:250px;
}

.Chicago_sunrise_1{
    text-align:center;
    margin-bottom:10px;
    height:500px;
    padding-top:50px;
}

.portrait_name{
    width:320px;
    margin:0 auto;
    padding:20px;
    border-radius:20px;
}

/**********************************
MAIN CONTENT
***********************************/
.thumbnail_space{
    max-width:90%;
    margin:0 auto;
}

.thumbnail_image{
  max-height:200px;
  max-width:242px;
}

article{
    
    width:90%;
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
}

/**********************************
FOOTER - Layout and Sizing
***********************************/
footer{
    height:100px;
    text-align:center;
    padding:20px;
}

/**********************************
PAGE: _______
***********************************/
.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background: #00035C; 
   width: 100%; 
   text-align: center; 
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #2089FF; 
} 

div#hmenu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #2089FF; 
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #2089FF; 
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #00035C; 
   background-color: #2089FF; 
}


/**********************************
FONTS
***********************************/
h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}
/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/

article{
    background:#20BBFF;
}

footer{
    background:#20BBFF;
}

.Chicago_sunrise_1{
  background: url("https://upload.wikimedia.org/wikipedia/commons/8/82/Chicago_sunrise_1.jpg") no-repeat center;
  background-size: cover;
}

.portrait_name{
    background: rgba(230, 230, 230, 0.7);
}
