/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/


/**********************************
IMAGE GALLERY
***********************************/
.image_gallery {
			width:90%;
			margin:0 auto;
		}

/**********************************
FOOTER
***********************************/
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
.box {
  background: #2db34a;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.box:hover {
  background: #ff7b29;
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.Chicago_sunrise_1{
    text-align:center;
    margin-bottom:10px;
    height:500px;
    padding-top:50px;
}

.portrait_name{
    width:370px;
    margin: auto;
    padding:90px;
    border-radius:90px;
}

/**********************************
MAIN CONTENT
***********************************/
.thumbnail_space{
    max-width:95%;
    margin:1 center;
}

.thumbnail_image{
  max-height:246px;
  max-width:242px;
}

article{
    
    width:90%;
    margin:0 absolute;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
}

/**********************************
FOOTER - Layout and Sizing
***********************************/
footer{
    height:100px;
    text-align:center;
    padding:40px;
}

/**********************************
PAGE: _______
***********************************/
.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background: #5EE2FF; 
   width: 100%; 
   text-align: center; 
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #2089ff; 
} 

div#hmenu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #2089FF; 
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #004A7F; 
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #5EE2FF; 
   background-color: #004A7F; 
}


/**********************************
FONTS
***********************************/
h1 {
    font-family: "century", sans-serif;
    font-weight: 300;
}
/**********************************
COLORS and BACKGROUNDS
Color 1:#5EE2FF
Color 1:#5EE2FF
Color 1:#5EE2FF
Color 1:#5EE2FF
Color 1:#5EE2FF
***********************************/

article{
    background:#5EE2FF;
}

footer{
    background:#5EE2FF;
}

.Chicago_sunrise_1{
  background: url("https://upload.wikimedia.org/wikipedia/commons/8/82/Chicago_sunrise_1.jpg") no-repeat center;
  background-size: cover;
}

.portrait_name{
    background: rgba(230, 230, 230, 0.7);
}
